{% block element_title %}

    {% if ( not (header.element.title.visible is defined and header.element.title.visible == false) ) %}

        {# CONFING ACCESSORS (for cleaner code) #}
        {% set TITLE = header.element.title %}
        {% set CONF = config.plugins.elements %}
        {% set PREFIX = CONF.css.prefix %}


        {# element type #}
        {% set element_type = "#{ element_type ?? CONF.css.classname.page }" %}


        {# title tag #}
        {% set tag_default = "#{ element_titletag_default ?? 'h1' }" %}
        {% set tag = tag_default %}
        {% if TITLE.tag is defined %} {% set tag = TITLE.tag %} {% endif %}


        {# classes #}
        {% set classes = [] %}
        {% set classes = classes|merge(["#{element_type|e}__title"]) %}
        {% if TITLE.tag_visual is defined %}
            {% set classes = classes|merge([TITLE.tag_visual]) %}
        {% endif %}
        {% if TITLE.align is defined %}
            {% set classes = classes|merge(["#{CONF.css.prefix['text-align']}#{TITLE.align}"]) %}
        {% endif %}
        {% if TITLE.spacing.margin.margintop is defined %}
            {% set classes = classes|merge(["#{CONF.css.prefix['text-align']}#{TITLE.align}"]) %}
        {% endif %}
        {% set classes = classes|merge([TITLE.classes ?? ""]) %}


        {# spacing #}
        {% if TITLE.spacing.margin.top is defined %}     {% set classes = classes|merge(["#{PREFIX.margin.top}#{TITLE.spacing.margin.top}"]) %}         {% endif %}
        {% if TITLE.spacing.margin.bottom is defined %}  {% set classes = classes|merge(["#{PREFIX.margin.bottom}#{TITLE.spacing.margin.bottom}"]) %}   {% endif %}
        {% if TITLE.spacing.padding.top is defined %}    {% set classes = classes|merge(["#{PREFIX.padding.top}#{TITLE.spacing.padding.top}"]) %}       {% endif %}
        {% if TITLE.spacing.padding.bottom is defined %} {% set classes = classes|merge(["#{PREFIX.padding.bottom}#{TITLE.spacing.padding.bottom}"]) %} {% endif %}


        {# final preparation #}
        {% set classes = classes|join(" ") %}
        {# render the tag #}
        {% set rendered_title = "<#{tag|e} class='#{classes|e}'>#{page.title|e}</#{tag|e}>"  %}
        {# constrain the title tag #}
        {% if TITLE.constrain is defined and TITLE.constrain and TITLE.constrain == true %}
            {% set rendered_title = "<div class=\"#{CONF.css.classname.container.regular|e}\">#{rendered_title}</div>"  %}
        {% endif %}

        {{rendered_title|raw}}

    {% endif %}

{% endblock element_title %}